<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     
       <bean id = "antonovka" class = "com.natalia.Antonovka"/>
       <bean id = "champion" class = "com.natalia.Champion"/>
       <bean id = "akane" class = "com.natalia.Akane"/>
       <bean id = "alderman" class = "com.natalia.Alderman"/>
       <bean id = "annurca" class = "com.natalia.Annurca"/>
       <bean id = "alexandr" class = "com.natalia.Alexander"/>
       
       <bean id = "appleBean" class = "com.natalia.Apple">
            <property name = "name" value="tasty"/>
            <constructor-arg value = "Nata"/>
 			<property name = "color" value = "green"/>
 			<property name = "red" value = "red"/>
 			 <property name = "appleSorts">
            	<list>
            		<ref bean = "antonovka"/>
            		<ref bean = "champion"/>
            		<ref bean = "akane"/>
            		<ref bean = "alderman"/>
            		<ref bean = "annurca"/>
            		<ref bean = "alexandr"/>
            	</list>
            </property>
        </bean>
</beans>
